.startDiv{
    top: 10%;
    margin:0 auto;
    text-align: center;
}

.flags{
    margin: 0 auto;
}

td.flags {
    padding: 10px;
}

.ui-panelgrid td {
    text-align: left;
    background-color: #FFD9F2;
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border-color: #FFD9F2;
}

.myFontsize {
    font-size: 10pt;
}

.logo{
    margin-top: 15px;
    height: 180px;
    width: 200px;
    padding-bottom: 20px;
}

.smalllogo{
    margin-top: 15px;
    height: 90px;
    width: 100px;
    padding-bottom: 20px;
}

.bigflag {
    height: 40px;
    width: 40px;
}

.flag{
    height: 20px;
    width: 20px;
}

h1{
    color: #FFD9F2;
}

.errorMessage{
    color: darkred;
    font-weight: bold;
}

.emphasize{
    color: seagreen;
    font-weight: bold;
}

/* General */
.left{
    text-align: left;
    font-weight: bold;
}

.right{
    text-align: right;
    font-weight: bold;
}

.center{
    text-align: center;
}